<?xml version="1.0" encoding="utf-8"?>

<h1>Good stuff goes here:</h1>

<%#<div><%= facility.FACILITY_NAME %> <br> <%#= facility.YEAR %></div>
<%# end %>

<%# @emissions_data.each do |d| %>
<%#= d %>
<%# end %>


<%= @emissions %>
